__pycache__/

notebooks/.env
notebooks/.ipynb_checkpoints/rag-chatbot-checkpoint.ipynb
notebooks/rag-chatbot.ipynb

# Ignore executable
gemm/gemm

# ignore data in tests
tests/mat/*

#
cachegrind*

# datasets
data/kits19/*
